.container {
  height: 200%;
  display: flex;
}

.drawer-container {
  height: 200%;
  width: 100vw;
}

mat-drawer {
  width: 200px;
  padding: 10px;
  background: #f4f4f4;

  .shapes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.shape {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid black;
  cursor: grab;
  text-align: center;
  width: 70%;

  &--rounded {
    border-radius: 25px;
  }
}

.shape-on-board {
  text-align: center;
  padding: 15px 45px 15px 35px;
  overflow: auto;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 2;

  &.input-shape {
    background-color: rgb(196, 198, 250);
    width: 250px;
    height: 300px;
  }

  &.connectable {
    background-color: antiquewhite;
    width: 75px;
    height: 50px;
  }

  &.output-shape {
    width: 250px;
    height: 350px;
  }

  &.open-to-connect {
    background-color: #439a39;
    color: white;
  }

  .connect-arrow {
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color: #39399a;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: rotate(45deg);

    &:after {
      content: '→';
      font-size: 15px;
      text-align: center;
    }
  }

  .connect-point {
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color: #439a39;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    &:after {
      content: '☑';
      font-size: 20px;
    }
  }


  .drag-handle {
    position: absolute;
    top: 0;
    left: 0;
    cursor: grab;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    .arrow {
      position: absolute;
      background-color: transparent;
    }

    .horizontal {
      width: 14px;
      height: 2px;
      background-color: #fff;
    }

    .vertical {
      width: 2px;
      height: 14px;
      background-color: #fff;
    }

    .horizontal:before,
    .horizontal:after,
    .vertical:before,
    .vertical:after {
      content: '';
      position: absolute;
      background-color: #fff;
    }

    .horizontal:before {
      width: 2px;
      height: 6px;
      left: 0;
      top: -2px;
    }

    .horizontal:after {
      width: 2px;
      height: 6px;
      right: 0;
      top: -2px;
    }

    .vertical:before {
      width: 6px;
      height: 2px;
      top: 0;
      left: -2px;
    }

    .vertical:after {
      width: 6px;
      height: 2px;
      bottom: 0;
      left: -2px;
    }
  }
}

.shape-input {
  color: #373737;
  font-weight: 600;
  resize: none;
  margin: 2px;
  width: 100%;
  background-color: transparent;
  text-align: center;
  border: none;
  border-bottom: 1px solid #CCC;
  height: auto;
  overflow: hidden;
  outline: none;
}

.shape-text-area {
  margin-top: 10px;
  resize: none;
  background-color: #f4f4f4;
  width: 100%;
  height: 70%;
  border-radius: 5px;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.board {
  width: 100%;
  height: 200%;
  border: 2px dashed #ccc;
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.canvas-lines {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}
