<div class="container">
  <mat-drawer-container class="drawer-container" autosize>
    <mat-drawer class="mat-drawer" mode="side" opened>
      <div class="shapes-container">
        <h4>Elements</h4>
        <div class="shape" draggable="true" (dragstart)="onDragStart($event, 'GetInput')">Input</div>
        <div class="shape" draggable="true" (dragstart)="onDragStart($event, 'TranslateIntoMorse')">
          Translate To Morse
        </div>
        <div class="shape" draggable="true" (dragstart)="onDragStart($event, 'SuggestAge')">Suggest Age</div>
        <div class="shape" draggable="true" (dragstart)="onDragStart($event, 'ToImageUrl')">To Image Url</div>
        <div class="shape" draggable="true" (dragstart)="onDragStart($event, 'OutPut')">Output</div>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div
        class="board"
        (click)="boardClicked()"
        [id]="'draggable-shapes-canvas'"
        (drop)="onDrop($event)"
        (dragover)="allowDrop($event)"
      >
        <ng-container *ngFor="let shape of shapes">
          <div
            cdkDrag
            cdkDragBoundary=".board"
            class="shape-on-board"
            (click)="onShapeClick($event, shape)"
            (cdkDragMoved)="drawArrows()"
            [id]="shape.id + '-shape-on-board'"
            [ngClass]="{
            'open-to-connect' : creatingArrow && shape.action !== 'GetInput' && !shape.parent,
            'connectable' : shape.action !== 'GetInput',
            'input-shape' : shape.action === 'GetInput',
            'output-shape' : shape.action === 'OutPut'
            }"
            [ngStyle]="{'position': 'absolute',
                        'left': shape.position.x + 'px',
                        'top': shape.position.y + 'px',
                        }"
          >
            <div cdkDragHandle class="drag-handle">
              <div class="arrow horizontal"></div>
              <div class="arrow vertical"></div>
            </div>
            <div class="drag-delete" (click)="deleteShape(shape.id)">
              <div class="part-1"></div>
              <div class="part-2"></div>
            </div>
            <input type="text"
                   class="shape-input"
                   aria-multiline="true"
                   [value]="shape.title"
                   (input)="shapeTextChanged(shape.id, $event)">
            @if (shape.action === 'OutPut') {
              @switch (getParentAction(shape)) {
                @case ('SuggestAge') {
                  <p class="output-text">{{ shape.value.getValue() }}</p>
                }
                @case ('ToImageUrl') {
                  <img alt="image from url" class="output-image" [src]="shape.value.getValue()"/>
                }
                @default {
                  <p class="output-text">{{ shape.value.getValue() }}</p>
                }
              }
            }
            @if (shape.action === 'GetInput') {
              <textarea type="text"
                        class="shape-text-area"
                        aria-multiline="true"
                        [value]="shape.value.getValue()"
                        (input)="inputValueChanged(shape.id, $event)"></textarea>
            }
            @if (canConnect(shape)) {
              <div
                class="connect-arrow"
                (click)="startArrowCreation(shape.id)"></div>
            }
          </div>
        </ng-container>
        <canvas #canvas class="canvas-lines"></canvas>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
