<div class="container">
  <mat-drawer-container class="drawer-container" autosize>
    <mat-drawer class="mat-drawer" mode="side" opened>
      <div class="shapes-container">
        <h4>Elements</h4>
        <div class="shape" draggable="true" (dragstart)="onDragStart($event, 'square')">Squared</div>
        <div class="shape shape--rounded" draggable="true" (dragstart)="onDragStart($event, 'circle')">Rounded</div>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div
        class="canvas"
        (drop)="onDrop($event)"
        (dragover)="allowDrop($event)"
      >
        <ng-container *ngFor="let shape of shapes">
          <div
            cdkDrag
            cdkDragBoundary=".canvas"
            class="shape-on-canvas"
            [ngStyle]="{
             'position': 'absolute',
             'border-radius': shape.type === 'circle' ? '25px' : '0px',
             'left.px': shape.x,
             'top.px': shape.y
             }"
          >
            <div cdkDragHandle class="drag-handle">
              <div class="arrow horizontal"></div>
              <div class="arrow vertical"></div>
            </div>
            <input type="text"
                   class="shape-input"
                   aria-multiline="true"
                   [value]="shape.text"
                   (input)="shapeTextChanged(shape.id, $event)">
          </div>
        </ng-container>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
